* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
input, button, select, textarea {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-user-drag: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  word-wrap: break-word;
  overflow: hidden;
}

a {
  text-decoration: none;
}

a, img, button, input, select, textarea {
  border: 0;
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
}

input, button, select, textarea {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}

textarea {
  resize: none;
  overflow: auto;
}

button, input[type='button'], input[type='reset'], input[type='submit'] {
  line-height: 1;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

ul {
  list-style: none;
}

em, i {
  font-style: normal;
}

b, strong {
  font-weight: bold;
}

body {
  font-family: PingFang SC, "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #404040;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

button,
input,
select,
textarea {
  font-family: PingFang SC, "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #FFFFFF;
}

::-webkit-input-placeholder {
  color: #aaaaaa;
  line-height: normal;
}

[class*="icon-"]:before,
[class^="icon-"]:before {
  font-family: 'icomoon' !important;
  speak: none;
  display: block;
  line-height: 1;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}

.main-gray {
  background-color: #F5F6F7;
}

header.topbar {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  padding: 8px 15px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #e5e5e5;
}

header.topbar .logo {
  height: 34px;
}

header.topbar .logo img {
  display: block;
  height: 34px;
}

header.topbar .language a {
  box-sizing: border-box;
  display: block;
  width: 34px;
  height: 34px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  color: #404040;
  font-size: 14px;
}

header.topbar ~ .main {
  margin-top: 50px;
}

footer.footer {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 8px 15px;
  background-color: #FFFFFF;
  border-top: 1px solid #e5e5e5;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.05);
}

footer.footer ~ .main {
  margin-bottom: 60px;
}

footer.footer-ticket {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  bottom: 60px;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 10px 15px 0;
  background-color: #FFFFFF;
  border-top: 1px solid #e5e5e5;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

footer.footer-ticket ~ .main {
  margin-bottom: 140px;
}

footer.footer-ticket ~ footer.footer {
  border-top: none;
}

.spacing {
  height: 15px;
}

.scroller {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  width: 100%;
  min-height: 100%;
}

.iScrollVerticalScrollbar {
  position: absolute;
  z-index: 2;
  top: 3px;
  right: 3px;
  bottom: 3px;
  width: 3px;
  overflow: hidden;
}

.iScrollVerticalScrollbar.iScrollBothScrollbars {
  bottom: 18px;
}

.iScrollVerticalScrollbar .iScrollIndicator {
  position: absolute;
  width: 100%;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
}

.bottom-modal-scroll {
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden;
}

.nprogress-fade {
  transition: all 300ms linear;
  opacity: 1;
}

.nprogress-out {
  opacity: 0;
}

#nprogress {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 50px;
  z-index: 0;
}

#nprogress .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}

#nprogress .spinner-icon {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #404040;
  border-left-color: #404040;
  border-right-color: #404040;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 500ms linear infinite;
  animation: nprogress-spinner 500ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.alert {
  color: #404040;
  font-size: 14px;
  padding: 15px;
  text-align: center;
}

.alert-red {
  color: #E74C3C;
}

.alert-gray {
  color: #999999;
}

.alert-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 12px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #404040;
}

.alert-block-orange {
  color: #FFFFFF;
  background-color: #E67E22;
}

span.label {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 5px;
  padding: 0 6px;
  color: #FFFFFF;
  background-color: #404040;
  border-radius: 4px;
  border: 1px solid #404040;
}

span.label-red {
  background-color: #E74C3C;
}

span.label-orange {
  background-color: #E67E22;
}

span.label-yellow {
  background-color: #F1C40F;
}

span.label-blue {
  background-color: #3498DB;
}

span.label-outline {
  color: #404040;
  border: 1px solid #404040;
  background-color: transparent;
}

span.label-outline-gray {
  color: #aaaaaa;
  border-color: #e5e5e5;
}

span.label-outline-red {
  color: #E74C3C;
  border-color: #E74C3C;
}

span.label-outline-orange {
  color: #E67E22;
  border-color: #E67E22;
}

span.label-outline-yellow {
  color: #F1C40F;
  border-color: #F1C40F;
}

span.label-outline-blue {
  color: #3498DB;
  border-color: #3498DB;
}

span.label-clear {
  padding: 0;
  color: #404040;
  background-color: transparent;
}

span.label-round {
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 100px;
}

span.label-large {
  line-height: 26px;
}

span.label-small {
  line-height: 22px;
  font-size: 14px;
}

span.label-small.label-round {
  padding-left: 8px;
  padding-right: 8px;
}

span.label-small.label-cancel {
  padding-right: 4px;
}

span.label-small.label-cancel i {
  margin-left: 3px;
  font-size: 16px;
  height: 16px;
  margin-top: 3px;
}

span.label-mini {
  line-height: 18px;
  font-size: 12px;
}

span.label-mini.label-round {
  padding-left: 8px;
  padding-right: 8px;
}

span.label-mini.left-icon i {
  margin-right: 3px;
  margin-top: 3px;
}

span.label-mini.right-icon i {
  margin-left: 2px;
}

span.label-cancel i {
  color: #E74C3C;
}

span.label-cancel.active i {
  opacity: .5;
}

span.label-translucent {
  opacity: .3;
}

.badge {
  padding: 2px 4px;
  color: #FFFFFF;
  line-height: 1;
  font-size: 12px;
  border-radius: 100px;
  background-color: #E74C3C;
}

.toast {
  box-sizing: border-box;
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 15px;
  right: 15px;
  padding: 15px;
  color: #FFFFFF;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.75);
  pointer-events: none;
  transition: all 0.3s ease-out;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.95) translateY(-50%);
  -ms-transform: scale(0.95) translateY(-50%);
  transform: scale(0.95) translateY(-50%);
}

.toast.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1) translateY(-50%);
  -ms-transform: scale(1) translateY(-50%);
  transform: scale(1) translateY(-50%);
}

.toast.toast-top {
  top: 0;
  opacity: 1;
  -webkit-transform: scale(1) translateY(-100%);
  -ms-transform: scale(1) translateY(-100%);
  transform: scale(1) translateY(-100%);
}

.toast.toast-top.show {
  top: 15px;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}

.toast.toast-bottom {
  top: auto;
  bottom: 0;
  opacity: 1;
  -webkit-transform: scale(1) translateY(100%);
  -ms-transform: scale(1) translateY(100%);
  transform: scale(1) translateY(100%);
}

.toast.toast-bottom.show {
  bottom: 15px;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}

.preloader {
  text-align: center;
  padding: 15px 15px 30px;
}

.preloader p {
  color: #aaaaaa;
  font-size: 12px;
}

.preloader-icon {
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  width: 24px;
  height: 24px;
  margin: 0 auto 5px;
}

.preloader-icon:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.preloader-icon.spin:after {
  -webkit-animation: spin 1s steps(12, end) infinite;
  animation: spin 1s steps(12, end) infinite;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.delay-short {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.delay-medium {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.delay-long {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes bounceIn {
  20%,
  40%,
  60%,
  80%,
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  20%,
  40%,
  60%,
  80%,
  from,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -40px, 0);
    transform: translate3d(0, -40px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -40px, 0);
    transform: translate3d(0, -40px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.modal-title {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 50px;
  padding: 0 15px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #e5e5e5;
}

.modal-title .md-close {
  color: #e5e5e5;
}

.modal-content {
  padding: 15px;
  background-color: #FFFFFF;
}

.modal-button-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px;
  background-color: #FFFFFF;
  border-top: 1px solid #e5e5e5;
}

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 100%;
  min-width: 80%;
  height: auto;
  z-index: 99;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.md-main {
  position: relative;
  margin: 0 auto;
}

.md-perspective,
.md-perspective body {
  height: 100%;
  overflow: hidden;
}

.md-perspective body {
  -webkit-perspective: 600px;
  perspective: 600px;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 98;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.md-show {
  visibility: visible;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

.md-effect-fade .modal-title {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.md-effect-fade .md-main {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s;
  border-radius: 4px;
}

.md-effect-fade .modal-button-group {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.md-effect-fade.md-show .md-main {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.md-effect-stick-bottom {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.md-effect-stick-bottom .md-main {
  background-color: #fff;
  transition: all, 0.3s;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.md-effect-stick-bottom.md-show .md-main {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.md-effect-stick-right {
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 100%;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.md-effect-stick-right .md-main {
  height: 100%;
  background-color: #fff;
  transition: all 0.3s;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.md-effect-stick-right.md-show .md-main {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.waves-effect {
  position: relative;
  overflow: hidden;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;
  opacity: 0;
  background: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 0.3) 100%);
  transition: all 0.3s ease-out;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0) translate(0, 0);
  -ms-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background: radial-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 40%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0.75) 90%, white 100%);
}

.waves-effect.waves-dark .waves-ripple {
  background: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 40%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.75) 90%, black 100%);
}

.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2);
}

.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
}

.waves-notransition {
  transition: none !important;
}

.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, #ffffff 100%, #000000 100%);
}

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}

.waves-button {
  padding: 0.85em 1.1em;
  border-radius: 0.2em;
}

.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em;
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper.waves-button {
  padding: 0;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
}

.waves-float {
  -webkit-mask-image: none;
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  transition: all 300ms;
}

.waves-float:active {
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
}

.waves-block {
  display: block;
}

.button-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 15px 15px 30px;
}

.button-group .inner {
  padding: 15px;
}

.button-group.margin-top {
  margin-top: 24px;
}

.button-group.margin-bottom {
  margin-bottom: 24px;
}

.button-group.button-group-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.button-group.button-group-column .button {
  margin-bottom: 10px;
}

.button-grid {
  border-top: 1px solid #e5e5e5;
}

.button-grid .row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}

.button-grid .row .item {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: block;
  text-align: center;
  padding: 15px 0;
  line-height: 1;
  background-color: #FFFFFF;
  border-right: 1px solid #e5e5e5;
}

.button-grid .row .item:last-child {
  border-right: 0;
}

.button-grid i {
  display: inline-block;
  font-size: 34px;
  color: #404040;
  margin-bottom: 10px;
}

.button-grid p {
  margin-bottom: 2px;
  color: #404040;
  font-size: 14px;
}

.button-grid span {
  color: #aaaaaa;
  font-family: Georgia;
  font-size: 12px;
}

.button {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  height: 44px;
  padding: 0 18px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  color: #FFFFFF;
  background-color: #404040;
  border-radius: 4px;
}

.button[disabled] {
  color: #999999 !important;
  border-color: #d7d7d7 !important;
  background-color: #e5e5e5 !important;
}

.button.left-icon i {
  margin-right: 12px;
}

.button-inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.button-red {
  background-color: #E74C3C;
}

.button-orange {
  background-color: #E67E22;
}

.button-white {
  color: #404040;
  background-color: #FFFFFF;
}

.button-white.active {
  opacity: .75;
  background-color: #FFFFFF;
}

.button-gray {
  color: #404040;
  background-color: #f1f1f1;
}

.button-gray.active {
  opacity: .75;
  background-color: #FFFFFF;
}

.button-outline {
  color: #404040;
  border: 1px solid #404040;
  background-color: transparent;
}

.button-outline-white {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.button-outline-white.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.button-clear {
  color: #404040;
  background-color: transparent;
}

.button-clear-gray {
  color: #aaaaaa;
}

.button-clear-red {
  color: #E74C3C;
}

.button-clear-black {
  color: #303137;
}

.button-clear[disabled] {
  opacity: 1;
  color: #d7d7d7 !important;
  border-color: #FFFFFF !important;
  background-color: #FFFFFF !important;
}

.button-smooth {
  padding: 0 24px;
  border-radius: 100px;
}

.button-round {
  width: 38px;
  height: 38px;
  padding: 0;
  border-radius: 100px;
}

.button-round i {
  font-size: 18px;
}

.button-round.active {
  color: #FFFFFF;
  background-color: #404040;
}

.button-round-large {
  width: 50px;
  height: 50px;
  border-width: 2px;
}

.button-round-large i {
  font-size: 25px;
}

.button-block {
  display: block;
  width: 100%;
}

.button-full {
  display: block;
  width: 100%;
  border-radius: 0;
}

.button-large {
  height: 54px;
  padding: 0 48px;
}

.button-small {
  height: 36px;
  padding: 0 16px;
}

.button-mini {
  height: 28px;
  padding: 0 8px;
  font-size: 12px;
}

.button-mini i {
  font-size: 16px;
}

.button-mini.left-icon i {
  margin-right: 4px;
}

.button-wide {
  min-width: 160px;
}

.pswp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 99;
  -webkit-text-size-adjust: 100%;
  -webkit-backface-visibility: hidden;
  outline: none;
}

.pswp * {
  box-sizing: border-box;
}

.pswp img {
  max-width: none;
}

.pswp--animate_opacity {
  opacity: 0.001;
  will-change: opacity;
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp--open {
  display: block;
}

.pswp--zoom-allowed .pswp__img {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.pswp--zoomed-in .pswp__img {
  cursor: -webkit-grab;
  cursor: grab;
}

.pswp--dragging .pswp__img {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.pswp__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: opacity;
}

.pswp__scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pswp__container,
.pswp__zoom-wrap {
  -ms-touch-action: none;
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.pswp__zoom-wrap {
  position: absolute;
  width: 100%;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  /* for open/close transition */
  transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1), -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp__bg {
  will-change: opacity;
  /* for open/close transition */
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
  transition: none;
}

.pswp__container,
.pswp__zoom-wrap {
  -webkit-backface-visibility: hidden;
}

.pswp__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.pswp__img {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
}

.pswp__img--placeholder {
  -webkit-backface-visibility: hidden;
}

.pswp__img--placeholder--blank {
  background: #222;
}

.pswp--ie .pswp__img {
  width: 100% !important;
  height: auto !important;
  left: 0;
  top: 0;
}

.pswp__error-msg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: -8px;
  color: #CCC;
}

.pswp__error-msg a {
  color: #CCC;
  text-decoration: underline;
}

.pswp__button {
  width: 44px;
  height: 44px;
  position: relative;
  background: none;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  float: right;
  opacity: 0.75;
  transition: opacity 0.2s;
  box-shadow: none;
}

.pswp__button:focus,
.pswp__button:hover {
  opacity: 1;
}

.pswp__button:active {
  outline: none;
  opacity: 0.9;
}

.pswp__button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.pswp__ui--over-close .pswp__button--close {
  opacity: 1;
}

.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  background: url("../img/default-skin.png") 0 0 no-repeat;
  background-size: 264px 88px;
  width: 44px;
  height: 44px;
}

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  .pswp--svg .pswp__button,
  .pswp--svg .pswp__button--arrow--left:before,
  .pswp--svg .pswp__button--arrow--right:before {
    background-image: url("../img/default-skin.svg");
  }
  .pswp--svg .pswp__button--arrow--left,
  .pswp--svg .pswp__button--arrow--right {
    background: none;
  }
}

.pswp__button--close {
  background-position: 0 -44px;
}

.pswp__button--share {
  background-position: -44px -44px;
}

.pswp__button--fs {
  display: none;
}

.pswp--supports-fs .pswp__button--fs {
  display: block;
}

.pswp--fs .pswp__button--fs {
  background-position: -44px 0;
}

.pswp__button--zoom {
  display: none;
  background-position: -88px 0;
}

.pswp--zoom-allowed .pswp__button--zoom {
  display: block;
}

.pswp--zoomed-in .pswp__button--zoom {
  background-position: -132px 0;
}

/* no arrows on touch screens */
.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
  visibility: hidden;
}

/*
  	Arrow buttons hit area
  	(icon is added to :before pseudo-element)
  */
.pswp__button--arrow--left,
.pswp__button--arrow--right {
  background: none;
  top: 50%;
  margin-top: -50px;
  width: 70px;
  height: 100px;
  position: absolute;
}

.pswp__button--arrow--left {
  left: 0;
}

.pswp__button--arrow--right {
  right: 0;
}

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  content: '';
  top: 35px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 32px;
  position: absolute;
}

.pswp__button--arrow--left:before {
  left: 6px;
  background-position: -138px -44px;
}

.pswp__button--arrow--right:before {
  right: 6px;
  background-position: -94px -44px;
}

/*

  	2. Share modal/popup and links

   */
.pswp__counter,
.pswp__share-modal {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pswp__share-modal {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  z-index: 1600;
  opacity: 0;
  transition: opacity 0.25s ease-out;
  -webkit-backface-visibility: hidden;
  will-change: opacity;
}

.pswp__share-modal--hidden {
  display: none;
}

.pswp__share-tooltip {
  z-index: 1620;
  position: absolute;
  background: #FFF;
  top: 56px;
  border-radius: 2px;
  display: block;
  width: auto;
  right: 44px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-backface-visibility: hidden;
  will-change: transform;
}

.pswp__share-tooltip a {
  display: block;
  padding: 8px 12px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}

.pswp__share-tooltip a:hover {
  text-decoration: none;
  color: #000;
}

.pswp__share-tooltip a:first-child {
  /* round corners on the first/last list item */
  border-radius: 2px 2px 0 0;
}

.pswp__share-tooltip a:last-child {
  border-radius: 0 0 2px 2px;
}

.pswp__share-modal--fade-in {
  opacity: 1;
}

.pswp__share-modal--fade-in .pswp__share-tooltip {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/* increase size of share links on touch devices */
.pswp--touch .pswp__share-tooltip a {
  padding: 16px 12px;
}

a.pswp__share--facebook:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -12px;
  right: 15px;
  border: 6px solid transparent;
  border-bottom-color: #FFF;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}

a.pswp__share--facebook:hover {
  background: #3E5C9A;
  color: #FFF;
}

a.pswp__share--facebook:hover:before {
  border-bottom-color: #3E5C9A;
}

a.pswp__share--twitter:hover {
  background: #55ACEE;
  color: #FFF;
}

a.pswp__share--pinterest:hover {
  background: #CCC;
  color: #CE272D;
}

a.pswp__share--download:hover {
  background: #DDD;
}

/*

  	3. Index indicator ("1 of X" counter)

   */
.pswp__counter {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  font-size: 13px;
  line-height: 44px;
  color: #FFF;
  opacity: 0.75;
  padding: 0 10px;
}

/*

  	4. Caption

   */
.pswp__caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 44px;
}

.pswp__caption small {
  font-size: 11px;
  color: #BBB;
}

.pswp__caption__center {
  text-align: left;
  max-width: 420px;
  margin: 0 auto;
  font-size: 13px;
  padding: 10px;
  line-height: 20px;
  color: #CCC;
}

.pswp__caption--empty {
  display: none;
}

/* Fake caption element, used to calculate height of next/prev image */
.pswp__caption--fake {
  visibility: hidden;
}

/*

  	5. Loading indicator (preloader)

  	You can play with it here - http://codepen.io/dimsemenov/pen/yyBWoR

   */
.pswp__preloader {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -22px;
  opacity: 0;
  transition: opacity 0.25s ease-out;
  will-change: opacity;
  direction: ltr;
}

.pswp__preloader__icn {
  width: 20px;
  height: 20px;
  margin: 12px;
}

.pswp__preloader--active {
  opacity: 1;
}

.pswp__preloader--active .pswp__preloader__icn {
  /* We use .gif in browsers that don't support CSS animation */
  background: url("preloader.gif") 0 0 no-repeat;
}

.pswp--css_animation .pswp__preloader--active {
  opacity: 1;
}

.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
  -webkit-animation: clockwise 500ms linear infinite;
  animation: clockwise 500ms linear infinite;
}

.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
  -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
  animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
}

.pswp--css_animation .pswp__preloader__icn {
  background: none;
  opacity: 0.75;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 15px;
  top: 15px;
  margin: 0;
}

.pswp--css_animation .pswp__preloader__cut {
  /*
  			The idea of animating inner circle is based on Polymer ("material") loading indicator
  			 by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html
  		*/
  position: relative;
  width: 7px;
  height: 14px;
  overflow: hidden;
}

.pswp--css_animation .pswp__preloader__donut {
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid #FFF;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .pswp__preloader {
    position: relative;
    left: auto;
    top: auto;
    margin: 0;
    float: right;
  }
}

@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-140deg);
    transform: rotate(-140deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-140deg);
    transform: rotate(-140deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

/*

  	6. Additional styles

   */
/* root element of UI */
.pswp__ui {
  -webkit-font-smoothing: auto;
  visibility: visible;
  opacity: 1;
  z-index: 1550;
}

/* top black bar with buttons and "1 of X" indicator */
.pswp__top-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  width: 100%;
}

.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right,
.pswp__caption,
.pswp__top-bar {
  -webkit-backface-visibility: hidden;
  will-change: opacity;
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

/* pswp--has_mouse class is added only when two subsequent mousemove events occur */
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  visibility: visible;
}

.pswp__caption,
.pswp__top-bar {
  background-color: rgba(0, 0, 0, 0.3);
}

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
.pswp__ui--fit .pswp__caption,
.pswp__ui--fit .pswp__top-bar {
  background-color: rgba(0, 0, 0, 0.3);
}

/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */
.pswp__ui--idle .pswp__top-bar {
  opacity: 0;
}

.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
  opacity: 0;
}

/*
  	pswp__ui--hidden class is added when controls are hidden
  	e.g. when user taps to toggle visibility of controls
  */
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__top-bar {
  /* Force paint & create composition layer for controls. */
  opacity: 0.001;
}

/* pswp__ui--one-slide class is added when there is just one item in gallery */
.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
  display: none;
}

.pswp__element--disabled {
  display: none !important;
}

.pswp--minimal--dark .pswp__top-bar {
  background: none;
}

.thumbnail {
  box-sizing: border-box;
  position: relative;
  padding: 0 30px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

.thumbnail .cover {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 88px;
  height: 88px;
  margin-top: -44px;
  margin-left: -44px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.thumbnail .cover i {
  font-size: 32px;
  color: #fff;
}

form.form .item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

form.form .item .label {
  width: 40px;
  padding: 10px 15px;
}

form.form .item .select {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 30px;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center right 15px;
  background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px' viewBox='0 0 50 50'><path fill='#e5e5e5' d='M49.176,11.245c-1.057-0.997-2.722-0.949-3.72,0.107L25,33.011L4.544,11.352c-0.998-1.058-2.664-1.104-3.72-0.107 c-1.057,0.998-1.104,2.664-0.107,3.721l22.369,23.683c0.497,0.527,1.189,0.825,1.913,0.825s1.416-0.298,1.913-0.825l22.368-23.683 C50.279,13.909,50.231,12.243,49.176,11.245z'/></svg>");
}

form.form .item .select:focus {
  background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px' viewBox='0 0 50 50'><path fill='#404040' d='M49.176,11.245c-1.057-0.997-2.722-0.949-3.72,0.107L25,33.011L4.544,11.352c-0.998-1.058-2.664-1.104-3.72-0.107 c-1.057,0.998-1.104,2.664-0.107,3.721l22.369,23.683c0.497,0.527,1.189,0.825,1.913,0.825s1.416-0.298,1.913-0.825l22.368-23.683 C50.279,13.909,50.231,12.243,49.176,11.245z'/></svg>");
}

form.form .item-seat {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: none;
  border-bottom: none;
}

form.form .item-seat .label {
  width: auto;
  padding: 10px 15px 0;
}

form.form .seat-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px 15px;
}

form.form .seat-group .seat {
  position: relative;
  padding: 3px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

form.form .seat-group .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  z-index: 2;
}

form.form .seat-group .checkbox:checked {
  border-color: #2ECC71;
  background-color: rgba(46, 204, 113, 0.2);
}

form.form .seat-group .checkbox:checked + span {
  color: #2ECC71;
}

.footer-ticket-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 5px;
}

.footer-ticket-header .total {
  font-size: 12px;
}

.ticket-group {
  position: relative;
  height: 42px;
}

.ticket-group .scroller {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
}

.ticket-group .ticket {
  position: relative;
  box-sizing: border-box;
  height: 42px;
  padding: 4px 8px 4px 10px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-left: none;
  background-size: 4px 42px;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url("../img/ticket.png");
}

.ticket-group .name {
  font-size: 12px;
  white-space: nowrap;
}

.ticket-group .price {
  font-size: 12px;
  color: #E74C3C;
}

.ticket-group .delete {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 14px;
  height: 14px;
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px' viewBox='0 0 50 50'><path fill='#95A5A6' d='M29.711,25L49.02,5.69c1.302-1.301,1.302-3.412,0-4.713c-1.302-1.302-3.411-1.302-4.714,0l-19.308,19.31L5.687,0.977 c-1.302-1.302-3.411-1.302-4.713,0c-1.302,1.301-1.302,3.412,0,4.713L20.284,25L0.974,44.312c-1.302,1.301-1.302,3.412,0,4.712 C1.625,49.677,2.478,50,3.331,50c0.853,0,1.706-0.323,2.356-0.977l19.311-19.31l19.308,19.31C44.957,49.677,45.81,50,46.663,50 c0.853,0,1.705-0.323,2.356-0.977c1.302-1.3,1.302-3.411,0-4.712L29.711,25z'/></svg>");
}

.ticket-group .delete:active {
  background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px' viewBox='0 0 50 50'><path fill='#E74C3C' d='M29.711,25L49.02,5.69c1.302-1.301,1.302-3.412,0-4.713c-1.302-1.302-3.411-1.302-4.714,0l-19.308,19.31L5.687,0.977 c-1.302-1.302-3.411-1.302-4.713,0c-1.302,1.301-1.302,3.412,0,4.713L20.284,25L0.974,44.312c-1.302,1.301-1.302,3.412,0,4.712 C1.625,49.677,2.478,50,3.331,50c0.853,0,1.706-0.323,2.356-0.977l19.311-19.31l19.308,19.31C44.957,49.677,45.81,50,46.663,50 c0.853,0,1.705-0.323,2.356-0.977c1.302-1.3,1.302-3.411,0-4.712L29.711,25z'/></svg>");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .ios-8 .hairline {
    border-width: .5px !important;
  }
  .ios-8 footer.chatbar {
    border-width: .5px;
  }
  .ios-8 footer.chatbar input.chatbar-text {
    border-width: .5px;
  }
  .ios-8 footer.chatbar button.chatbar-button {
    border-width: .5px;
  }
  .ios-8 footer.chatbar .chatbar-input {
    border-width: .5px;
  }
  .ios-8 .iScrollVerticalScrollbar {
    width: 2.5px;
  }
  .ios-8 .searchbar {
    border-width: .33px;
  }
  .ios-8 .searchbar .search {
    border-width: .33px;
  }
  .ios-8 .navbar {
    border-width: .5px;
  }
  .ios-8 .list .row {
    border-width: .5px;
  }
  .ios-8 .list.list-border {
    border-width: .5px;
  }
  .ios-8 span.label {
    border-width: .5px;
  }
  .ios-8 .button {
    border-width: .5px;
  }
  .ios-8 .button-round-large {
    border-width: 1.5px;
  }
  .ios-8 .button-grid {
    border-width: .5px;
  }
  .ios-8 .button-grid .row {
    border-width: .5px;
  }
  .ios-8 .button-grid .row .item {
    border-width: .5px;
  }
  .ios-8 .load-more {
    border-width: .5px;
  }
  .ios-8 .content-news .title-group {
    border-width: .5px;
  }
  .ios-8 .content blockquote {
    border-width: .5px;
  }
  .ios-8 .md-title {
    border-width: .5px;
  }
  .ios-8 .modal-title {
    border-width: .5px;
  }
  .ios-8 .modal-button-group {
    border-width: .5px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .ios-8 .hairline {
    border-width: .33px !important;
  }
  .ios-8 footer.chatbar {
    border-width: .33px;
  }
  .ios-8 footer.chatbar input.chatbar-text {
    border-width: .33px;
  }
  .ios-8 footer.chatbar button.chatbar-button {
    border-width: .33px;
  }
  .ios-8 footer.chatbar .chatbar-input {
    border-width: .33px;
  }
  .ios-8 .searchbar {
    border-width: .33px;
  }
  .ios-8 .searchbar .search {
    border-width: .33px;
  }
  .ios-8 .navbar {
    border-width: .33px;
  }
  .ios-8 .list .row {
    border-width: .33px;
  }
  .ios-8 .list.list-border {
    border-width: .33px;
  }
  .ios-8 span.label {
    border-width: .33px;
  }
  .ios-8 .button {
    border-width: .33px;
  }
  .ios-8 .button-grid {
    border-width: .33px;
  }
  .ios-8 .button-grid .row {
    border-width: .5px;
  }
  .ios-8 .button-grid .row .item {
    border-width: .5px;
  }
  .ios-8 .load-more {
    border-width: .33px;
  }
  .ios-8 .content-news .title-group {
    border-width: .33px;
  }
  .ios-8 .content blockquote {
    border-width: .33px;
  }
  .ios-8 .md-title {
    border-width: .33px;
  }
  .ios-8 .modal-title {
    border-width: .33px;
  }
  .ios-8 .modal-button-group {
    border-width: .33px;
  }
}

.display-none {
  display: none !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.line-through {
  text-decoration: line-through;
}

.flex-direction-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.align-items-start {
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.align-items-stretch {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.align-self-end {
  -webkit-align-self: flex-end;
  -ms-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.align-self-start {
  -webkit-align-self: flex-start;
  -ms-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.justify-content-start {
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.justify-content-end {
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.justify-content-center {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-content-between {
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.huge {
  font-size: 20px;
}

.large {
  font-size: 18px;
}

.small {
  font-size: 14px;
}

.mini {
  font-size: 12px;
}

.color-1 {
  color: #404040;
}

.black {
  color: #404040;
}

.dark {
  color: #666666;
}

.gray {
  color: #aaaaaa;
}

.light {
  color: #aaaaaa;
}

.red {
  color: #E74C3C;
}

.yellow {
  color: #F1C40F;
}

span.margin-left {
  margin-left: 8px;
}

span.margin-right {
  margin-right: 6px;
}
